body {
  background-color: #7389ae;
  line-height: 20px;

}

header {
  animation: deslizaEsq 3s;
  text-align: center;
}

header ul {
  background-color: #222222;
  margin: 0;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
}

header li a {
  color: aliceblue;
  display: block;
  float: left;
  padding: 10px;
  text-align: center;
}

header li a:hover {
  background-color: #444444;
}

.textoBio {
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
  width: 40%;
}

.textoFoto {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.fotoPerfil {
  background-color: black;
  border: 5px dashed burlywood;
  width: 40%;
}

h1 {
  font-family: 'Costa Ptf Regular', Tahoma, Verdana, sans-serif;
  letter-spacing: -1.5px;
}

h2 {
  animation: deslizaDir 3s;
  color: #eeeeee;
  background-color: black;
  font-family: 'Costa Ptf Regular', Tahoma, Verdana, sans-serif;
  letter-spacing: -1.5px;
  line-height: 25pt;
  overflow: hidden;
  text-align: center;
}

.skills, .projects {
  background-color: burlywood;
  border-width: 3px;
  margin: 50px;
  padding: 10px;
}

.skills li:nth-child(odd) {
  text-decoration: underline;
}

h4, p, li {
  font-family: Formata, Georgia, Times, "Times New Roman", serif;
  font-size: 1.2em;
  color: black;
}

.menuProjetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.menuProjetos a {
  display: grid;
  font-style: italic;
  text-align: center;
}

.miscText {
  color: #e0e0e2;
  font-family: Georgia, "Times New Roman", serif;
  list-style: none;
}

footer {
  color: white;
  text-align: center;
}


@media screen and (max-width:900px)
{
  .textoBio {
    text-align: justify;
    width: 100%;
  }

  .textoFoto {
    display: flex;
    flex-flow: column;
  }

  .fotoPerfil {
    background: none;
    border: none;
    padding: 10pt;
    width: 100%;
  }

  .skills, .projects {
    border-width: 3px;
    margin: 20px 5px;
    padding: 2px;
  }

  .imgProjetos {
    scale: 50%;
  }

}

@keyframes deslizaDir {
  from {margin-right: 300px;}
  to {margin-right: 0;}
}

@keyframes deslizaEsq {
  from {margin-left: 300px;}
  to {margin-left: 0;}
}